src/DW.Api.Connector/obj
src/DW.Api.Connector/bin
.vs/ProjectEvaluation
.vs/DW.Api.Connector/config
.vs/DW.Api.Connector/DesignTimeBuild
.vs/DW.Api.Connector/FileContentIndex
.vs/DW.Api.Connector/v17
